*
!rc.cmd
!rc.log
!timing_full.rpt
!timing_lint.rpt
!boundary_opto.rpt
!clocks.rpt
!design_rules.rpt
!datapath.rpt;
!clock_gating.rpt
!messages.rpt
!qor.rpt
!des_yield.rpt
!gates.rpt
!area.rpt
!ple.rpt
!des_units.rpt
!des_registers.rpt
!.gitignore
